{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleado list</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidopaterno</th>
                <th>Apellidomaterno</th>
                <th>Fechadenacimiento</th>
                <th>Ingresosanuales</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for empleado in empleados %}
            <tr>
                <td><a href="{{ path('empleado_show', { 'id': empleado.id }) }}">{{ empleado.nombre }}</a></td>
                <td>{{ empleado.apellidoPaterno }}</td>
                <td>{{ empleado.apellidoMaterno }}</td>
                <td>{% if empleado.fechaDeNacimiento %}{{ empleado.fechaDeNacimiento|date('Y-m-d') }}{% endif %}</td>
                <td>{{ empleado.ingresosAnuales }}</td>
                <td>{{ empleado.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('empleado_show', { 'id': empleado.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
