{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleado</h1>

    <table>
        <tbody>
            <tr>
                <th>Nombre</th>
                <td>{{ empleado.nombre }}</td>
            </tr>
            <tr>
                <th>Apellidopaterno</th>
                <td>{{ empleado.apellidoPaterno }}</td>
            </tr>
            <tr>
                <th>Apellidomaterno</th>
                <td>{{ empleado.apellidoMaterno }}</td>
            </tr>
            <tr>
                <th>Fechadenacimiento</th>
                <td>{% if empleado.fechaDeNacimiento %}{{ empleado.fechaDeNacimiento|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ingresosanuales</th>
                <td>{{ empleado.ingresosAnuales }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
